*{
    
    margin: 0px;
    padding: 0px;
    color: floralwhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: bolder;
    letter-spacing: 2px;
    word-spacing: 5px;
}
.toper{
    padding-top: 20px;
    height: 35vh;
    background-color: #000428;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap ;

}
.main{
    background-color: #000428;
    height: 25vh;



  
}
.outer{
 
  display:flex;
justify-content: center;


}
.inner{
    
    background-color: gray;
    text-align: center;
    margin: 0px 10px ;
    width: 150px;
    height: 125px;
    min-height: 50px;
    min-width: 50px;
    background-image: linear-gradient(to bottom,#614385,#000428);
    box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.6) ;
    font-size: 40px;

    

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.main2{
    padding-top: 30px;
    background-color: #000428;
    height: 40vh;

}
.last{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.last .btn{
    margin: 5px;
    min-width: 20px;
    background-image: linear-gradient(to bottom,#614385,#000428);
    box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.6) ; 
}
.main2 button:focus{
outline: solid 2px #fff;
}
/* background-image: linear-gradient(to bottom,#614385,#000428);
box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.6) ; */